
{% block import_operations_widget %}
    {{ form_start(form) }}
    <div class="alert alert-info">
        {{ 'import_operations.form.file_help'|trans|raw }}
    </div>
    <div class="row">
        <div class="col s9">
            {{ form_row(form.file) }}
            {{ form_row(form.csvColumns) }}
        </div>
        <div class="col s3">
            {{ form_row(form.csvSeparator) }}
            {{ form_row(form.csvDelimiter) }}
            {{ form_row(form.csvEscapeCharacter) }}
        </div>
    </div>
    <section class="content-footer">
        <div class="form-actions">
            <button type="submit" class="btn btn-primary action-save">
                <span class="btn-label">{{ 'import_operations.form.submit'|trans }}</span>
            </button>
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}
