{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}
    Analytics
{% endblock %}

{% block main %}

    {{ form(filters_form) }}

    <ul class="nav nav-tabs" role="tablist">
        {% for key, charts in charts_list %}
            <li class="nav-item">
                <a class="nav-link{{ loop.first ? ' active' }}"
                   id="{{ key }}-tab"
                   data-toggle="tab"
                   href="#{{ key }}"
                   role="tab"
                   aria-controls="{{ key }}"
                   aria-selected="true"
                >
                    {{ key|title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
        {% for key, charts in charts_list %}
        <div class="tab-pane fade {{ loop.first ? ' show active' }}"
             id="{{ key }}"
             role="tabpanel"
             aria-labelledby="{{ key }}-tab"
        >
            {% for chart in charts %}
                <div class="container">
                    <div id="{{ chart.name|slug }}"></div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block body_custom_javascript %}
    {{ parent() }}
    <script type="text/javascript" async>
        {% for charts in charts_list %}
            {% for chart in charts %}
                Highcharts.chart("{{ chart.name|slug }}", {{ chart.config|json_encode|raw }});
            {% endfor %}
        {% endfor %}
    </script>
{% endblock %}
