{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}
    Analytics
{% endblock %}

{% block main %}

    {{ form(filters_form) }}

    <ul class="nav nav-tabs" role="tablist">
        {% for chart in charts %}
            <li class="nav-item">
                <a class="nav-link{{ loop.first ? ' active' }}"
                   id="{{ chart.name|slug }}-tab"
                   data-toggle="tab"
                   href="#{{ chart.name|slug }}"
                   role="tab"
                   aria-controls="{{ chart.name|slug }}"
                   aria-selected="true"
                >
                    {{ chart.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
        {% for chart in charts %}
        <div class="tab-pane fade {{ loop.first ? ' show active' }}"
             id="{{ chart.name|slug }}"
             role="tabpanel"
             aria-labelledby="{{ chart.name|slug }}-tab"
        ></div>
        {% endfor %}
    </div>
{% endblock %}

{% block body_custom_javascript %}
    {{ parent() }}
    <script type="text/javascript" async>
        {% for chart in charts %}
            Highcharts.chart("{{ chart.name|slug }}", {{ chart.config|json_encode|raw }});
        {% endfor %}
    </script>
{% endblock %}
