{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}
    Analytics
{% endblock %}

{% block main %}

    {{ form(filters_form) }}

    <ul class="nav nav-tabs" role="tablist">
        {% for key, charts in charts_list %}
            {% set slug = key|slug %}
            <li class="nav-item">
                <a class="nav-link{{ loop.first ? ' active' }}"
                   id="{{ slug }}-tab"
                   data-toggle="tab"
                   href="#{{ slug }}"
                   role="tab"
                   aria-controls="{{ slug }}"
                   aria-selected="true"
                >
                    {{ key|trans }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
        {% for key, charts in charts_list %}
            {% set slug = key|slug %}
            <div class="tab-pane fade {{ loop.first ? ' show active' }}"
                 id="{{ slug }}"
                 role="tabpanel"
                 aria-labelledby="{{ slug }}-tab"
            >
                {% for chart in charts %}
                    <div id="{{ chart.name|slug }}"></div>
                    {% if not loop.last %}
                        <hr>
                        <br>
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block body_custom_javascript %}
    {{ parent() }}
    <script type="text/javascript" async>
        {% for charts in charts_list %}
            {% for chart in charts %}
                Highcharts.chart("{{ chart.name|slug }}", {{ chart|json_encode_chart }});
            {% endfor %}
        {% endfor %}
    </script>
{% endblock %}
